{{< header title="This is title" }}

<h1>Hello, handlebars</h1>
<p>My name is {{name}}</p>

{{#if isLoggedIn}}
<a href="#">Logout</a>
{{else}}
<a href="#">Login</a>
{{/if}}

{{#unless isReady}}
<button>Start</button>
{{/unless}}

{{#each users}}
<span>{{this}}</span>
{{/each}}

{{#each user as |value key|}}
<span>{{key}}</span>
<span>{{value}}</span>
{{/each}}

{{#with user}}
<span>{{name}}</span>
{{/with}}

{{#with user as |u|}}
<span>{{u.name}}</span>
{{/with}}


{{< footer}}
